$primary: #0F0F0F;
$text:rgb(230, 230, 230);

body {
    background-color: $primary !important;
    color: $text !important;
    font-family: "Montserrat", Arial, Helvetica, sans-serif ;
}

header {
    padding: 10px;
        h1 {
            font-size: 9vw;
        }
}

main {
    width: 100%;
    padding: 10px;

        // hello word
        h2 {
            text-align: center;
        }
}

@media (min-width:1000px){
    header {
        padding: 10px;
            h1 {
                font-size: 3vw;
            }
    }

    main {
        width: 1000px;
        margin: auto;
    }
}